/*Hide message and notification count -> force me to go to messenger.com and facebook.com/notifications on regular basis instead*/
.jewelCount {
  display: none;
}

/* Hide like notifications: https://github.com/zerobase/fb_hide_like_notifs/blob/master/content_script.css*/
._33c[data-gt*='"notif_type":"like"'],
._33c[data-gt*='"notif_type":"like_tagged"'],
._33c[data-gt*='"notif_type":"page_new_likes"'],
._33c[data-gt*='"notif_type":"open_graph_action_like"']
{
	display:none !important;
}

/* Hide the bell icon in general */
#fbNotificationsJewel {
  display: none
}

/* Hide birthdays and reminders */
.fbReminders {
  display: none
}
