.nav-item__badge {
display: none
}

.msg-overlay-bubble-header__unread-count {
display: none
}

.feed-card {
  display: hidden
}


span.notification-badge.notification-badge--show {
    display:none
}

/* remove pop up message bubbles */
.msg-overlay-conversation-bubble {
  display:none
}
